@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.link {
  color: #FF1B70; /*default: rgb(249, 38, 114); || sets color of links */
  text-decoration: none; /* turns off background coloring of links */
}

body {
  font-family: 'Open Sans';
  font-size: 150%;
}

ul {
  font-family: 'Open Sans';
  font-size: 150%;
  line-height: 150%;
}

.large {
  font-size: 180%;
  line-height: 180%;
}

h1, h2, h3 {
  font-family: 'Open Sans';
  font-weight: bold;
  color: #224;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 115%
  line-height: 300%;
}


.title-slide h1, .title-slide h2, .title-slide h3 {
  text-shadow: none;
  text-align: left;
  color: #224;
}

.title-slide h1 {
  font-size: 225%
}

